OPENAI_API_KEY=
LANGSMITH_API_KEY=
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_PROJECT="e2e-ai-eng"

# Airflow Credentials
AIRFLOW_USERNAME=admin
AIRFLOW_PASSWORD=admin